:root {
  --accent1-primary: var(--accent1-98);
  --accent1-primary-hover: var(--accent1-95);
  --accent1-on-primary: var(--accent1-4);

  --accent1-secondary: var(--accent1-92);
  --accent1-secondary-hover: var(--accent1-89);
  --accent1-on-secondary: var(--accent1-10);

  --accent1-tertiary: var(--accent1-86);
  --accent1-tertiary-hover: var(--accent1-83);
  --accent1-on-tertiary: var(--accent1-15);

  --accent1-bright: var(--accent1-50);
  --accent1-bright-hover: var(--accent1-40);
  --accent1-on-bright: var(--accent1-98);

  --accent1-border: var(--accent1-95);
  --accent1-border-hover: var(--accent1-92);
}

.dark {
  --accent1-primary: var(--accent1-4);
  --accent1-primary-hover: var(--accent1-7);
  --accent1-on-primary: var(--accent1-98);

  --accent1-secondary: var(--accent1-7);
  --accent1-secondary-hover: var(--accent1-13);
  --accent1-on-secondary: var(--accent1-92);

  --accent1-tertiary: var(--accent1-15);
  --accent1-tertiary-hover: var(--accent1-18);
  --accent1-on-tertiary: var(--accent1-86);

  --accent1-bright: var(--accent1-40);
  --accent1-bright-hover: var(--accent1-50);
  --accent1-on-bright: var(--accent1-98);

  --accent1-border: var(--accent1-7);
  --accent1-border-hover: var(--accent1-13);
}

:root,
[color='accent1'] {
  accent-color: var(--accent1-50);

  --primary: var(--accent1-primary);
  --primary-hover: var(--accent1-primary-hover);
  --on-primary: var(--accent1-on-primary);

  --secondary: var(--accent1-secondary);
  --secondary-hover: var(--accent1-secondary-hover);
  --on-secondary: var(--accent1-on-secondary);

  --tertiary: var(--accent1-tertiary);
  --tertiary-hover: var(--accent1-tertiary-hover);
  --on-tertiary: var(--accent1-on-tertiary);

  --bright: var(--accent1-bright);
  --bright-hover: var(--accent1-bright-hover);
  --on-bright: var(--accent1-on-bright);

  --border: var(--accent1-border);
  --border-hover: var(--accent1-border-hover);
}

.dark,
.dark [color='accent1'] {
  --primary: var(--accent1-4);
  --primary-hover: var(--accent1-7);
  --on-primary: var(--accent1-98);

  --secondary: var(--accent1-10);
  --secondary-hover: var(--accent1-13);
  --on-secondary: var(--accent1-92);

  --tertiary: var(--accent1-15);
  --tertiary-hover: var(--accent1-18);
  --on-tertiary: var(--accent1-86);

  --bright: var(--accent1-40);
  --bright-hover: var(--accent1-50);
  --on-bright: var(--accent1-98);

  --border: var(--accent1-7);
  --border-hover: var(--accent1-13);
}
