:root {
  --success-primary: var(--success-98);
  --success-primary-hover: var(--success-95);
  --success-on-primary: var(--success-4);

  --success-secondary: var(--success-92);
  --success-secondary-hover: var(--success-89);
  --success-on-secondary: var(--success-10);

  --success-tertiary: var(--success-86);
  --success-tertiary-hover: var(--success-83);
  --success-on-tertiary: var(--success-15);

  --success-bright: var(--success-50);
  --success-bright-hover: var(--success-40);
  --success-on-bright: var(--success-98);

  --success-border: var(--success-95);
  --success-border-hover: var(--success-92);
}

.dark {
  --success-primary: var(--success-4);
  --success-primary-hover: var(--success-7);
  --success-on-primary: var(--success-98);

  --success-secondary: var(--success-10);
  --success-secondary-hover: var(--success-13);
  --success-on-secondary: var(--success-92);

  --success-tertiary: var(--success-15);
  --success-tertiary-hover: var(--success-18);
  --success-on-tertiary: var(--success-86);

  --success-bright: var(--success-40);
  --success-bright-hover: var(--success-50);
  --success-on-bright: var(--success-98);

  --success-border: var(--success-7);
  --success-border-hover: var(--success-13);
}

[color='success'] {
  accent-color: var(--success-50);

  --primary: var(--success-primary);
  --primary-hover: var(--success-primary-hover);
  --on-primary: var(--success-on-primary);

  --secondary: var(--success-secondary);
  --secondary-hover: var(--success-secondary-hover);
  --on-secondary: var(--success-on-secondary);

  --tertiary: var(--success-tertiary);
  --tertiary-hover: var(--success-tertiary-hover);
  --on-tertiary: var(--success-on-tertiary);

  --bright: var(--success-bright);
  --bright-hover: var(--success-bright-hover);
  --on-bright: var(--success-on-bright);

  --border: var(--success-border);
  --border-hover: var(--success-border-hover);
}

.dark [color='success'] {
  --primary: var(--success-4);
  --primary-hover: var(--success-7);
  --on-primary: var(--success-98);

  --secondary: var(--success-10);
  --secondary-hover: var(--success-13);
  --on-secondary: var(--success-92);

  --tertiary: var(--success-15);
  --tertiary-hover: var(--success-18);
  --on-tertiary: var(--success-86);

  --bright: var(--success-40);
  --bright-hover: var(--success-50);
  --on-bright: var(--success-98);

  --border: var(--success-7);
  --border-hover: var(--success-13);
}
