:root {
  --warn-primary: var(--warn-98);
  --warn-primary-hover: var(--warn-95);
  --warn-on-primary: var(--warn-4);

  --warn-secondary: var(--warn-92);
  --warn-secondary-hover: var(--warn-89);
  --warn-on-secondary: var(--warn-10);

  --warn-tertiary: var(--warn-86);
  --warn-tertiary-hover: var(--warn-83);
  --warn-on-tertiary: var(--warn-15);

  --warn-bright: var(--warn-50);
  --warn-bright-hover: var(--warn-40);
  --warn-on-bright: var(--warn-98);

  --warn-border: var(--warn-95);
  --warn-border-hover: var(--warn-92);
}

.dark {
  --warn-primary: var(--warn-4);
  --warn-primary-hover: var(--warn-7);
  --warn-on-primary: var(--warn-98);

  --warn-secondary: var(--warn-10);
  --warn-secondary-hover: var(--warn-13);
  --warn-on-secondary: var(--warn-92);

  --warn-tertiary: var(--warn-15);
  --warn-tertiary-hover: var(--warn-18);
  --warn-on-tertiary: var(--warn-86);

  --warn-bright: var(--warn-40);
  --warn-bright-hover: var(--warn-50);
  --warn-on-bright: var(--warn-98);

  --warn-border: var(--warn-7);
  --warn-border-hover: var(--warn-13);
}

[color='warn'] {
  accent-color: var(--warn-50);

  --primary: var(--warn-primary);
  --primary-hover: var(--warn-primary-hover);
  --on-primary: var(--warn-on-primary);

  --secondary: var(--warn-secondary);
  --secondary-hover: var(--warn-secondary-hover);
  --on-secondary: var(--warn-on-secondary);

  --tertiary: var(--warn-tertiary);
  --tertiary-hover: var(--warn-tertiary-hover);
  --on-tertiary: var(--warn-on-tertiary);

  --bright: var(--warn-bright);
  --bright-hover: var(--warn-bright-hover);
  --on-bright: var(--warn-on-bright);

  --border: var(--warn-border);
  --border-hover: var(--warn-border-hover);
}

.dark [color='warn'] {
  --primary: var(--warn-4);
  --primary-hover: var(--warn-7);
  --on-primary: var(--warn-98);

  --secondary: var(--warn-10);
  --secondary-hover: var(--warn-13);
  --on-secondary: var(--warn-92);

  --tertiary: var(--warn-15);
  --tertiary-hover: var(--warn-18);
  --on-tertiary: var(--warn-86);

  --bright: var(--warn-40);
  --bright-hover: var(--warn-50);
  --on-bright: var(--warn-98);

  --border: var(--warn-7);
  --border-hover: var(--warn-13);
}
